body{
    text-align: left;
}

table, tr, th{
    text-align: left;
    border: 2px solid;
}

#info{
    width: 100%;
    display: flex;
}
.infoEl{
    width: 20%;
    align-items: center;
}
.row{
    display: table-row
}


/* #name-err{
    background-color: darkblue;
    color: whitesmoke;
}
#date-err{
    background-color: darkorchid;
    color: whitesmoke;
}
#hours-err{
    background-color: brown;
    color: whitesmoke;
} */

.err-false{
    visibility: hidden;
}
.err-true{
    visibility: visible;
    background-color: brown;
    color: whitesmoke;
}
#oldHtml{
    visibility: hidden;
}

.bad-form{
    background-color: blueviolet;
}
